body {
  font-family: 'Bruno Ace SC', cursive , 'Times New Roman';
  font-size: 16px;
  line-height: 1;
  color: #666666;
}

h1 {
  font-family: 'Bruno Ace SC', cursive, 'Times New Roman';
  color: #536B78;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  padding: 10px;
  margin: 10px;
}

.jumbotron {
  text-align: center;
}

.lead {
  padding-top: 10px;
}

.description{
  margin: 10px;
  padding: 10px;
  white-space: pre-wrap;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid #CEE5F2;
}

.hour {
  border-right: 1px solid #CEE5F2;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.past {
  background-color: lightgrey;
  color: black;
}

.present {
  background-color:  lightcoral;
  color: black;
}

.future {
  background-color: lightgreen;
  color: black;
}

.saveBtn {
  background-color: rgba(129, 99, 119, 0.75);
  border: none;
  color: #ffffff; 
}

.saveBtn:hover {
  background-color: rgba(129, 99, 119, 1);
}